.tech__container {
    background-color: var(--light-color);
    color: hsl(210, 11%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.tech__cards__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 1rem 0;
}

.tech__card {
    width: 15rem;
    height: 10rem;
    background-color: hsl(0, 0%, 100%);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech__icons {
    height: 70px;
    background-color: var(--light-color);
    border-radius: 50%;
}

.tech__card:hover {
    background-color: hsl(0, 0%, 90%);
    transform: scale(1.05);
}